<div class="container mt-4">
  <div class="mensaje d-flex flex-row align-content-center justify-content-center  mb-4">
    <h4>“¡Dale una segunda vida a tus objetos! Regala lo que ya no necesitas y ayuda a construir un mundo más sostenible y solidario.”</h4>
    <img src="assets/img/conejo.png">
  </div>

  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let movie of movies">
      <div class="card">
        <img class="card-img-top" [src]="getImgUrl(movie.poster_path)" [alt]="'Poster de ' + movie.title">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview | slice:0:150 }}...</p>
          <p class="card-text">Puntaje: {{ movie.vote_average }}</p>
          <a href="#" class="btn btn-success d-flex justify-content-center"><strong>Lo quiero</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>


