<app-menu></app-menu>
<div class="container">
  <div class="row">
     <div class="col-12 mt-5 mb-5  register">
       <h2 class="mb-3">Registro</h2>

      <div class="col-12 col-md-6 mb-3">
        <label for="name" class="form-label">Nombre de usuario</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
          <input type="text" class="form-control" id="name" aria-describedby="inputGroupPrepend">
          <div class="invalid-feedback">
            Por favor escribe un nombre de usuario.
          </div>
        </div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">No compartiremos tu email sin tu consentimiento.</div>
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password">
      </div>

      <button class="btn btn-primary col-4 col-md-2" (click)="createUser()">Enviar</button>
    </div>
  </div>

</div>
<div class="empty">

</div>
